[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
pipenv-to-requirements = "*"
"flake8-coding" = "*"
"flake8-comprehensions" = "*"
sphinx = "*"
sphinx-autobuild = "*"
pytest-pythonpath = "*"
pytest-env ="*"
twine = "*"


[packages]
pbr = ">=3.0"
